
@{
    ViewBag.Title = "AddAlbum";
}

<h2>AddAlbum</h2>

The data entered was: <br /> <br />

Genre Id = @ViewBag.GenreId <br />
Artist Id = @ViewBag.ArtistId <br />
Title = @ViewBag.Title <br />
Price = @ViewBag.Price  <br />
Album Art URL = @ViewBag.AlbumArtUrl <br />

@ViewBag.Sql <br />