
@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

The data entered was: <br /> <br />

Cart Id = @ViewBag.CartId <br />
Album Id = @ViewBag.AlbumId <br />
Count = @ViewBag.Count <br />
Date Created = @ViewBag.DateCreated  <br />

@ViewBag.Sql <br />