
@{
    ViewBag.Title = "AddOrderDetail";
}

<h2>Add Order Detail</h2>

The data entered was: <br /> <br />

Order Id = @ViewBag.OrderId <br />
Album Id = @ViewBag.AlbumId  <br />
Quantity = @ViewBag.Quantity <br />
Unit Price = @ViewBag.Price <br />

@ViewBag.Sql <br />