
@{
    ViewBag.Title = "AddOrder";
}

<h2>Add Order</h2>

The data entered was: <br /> <br />

Order Date = @ViewBag.OrderDate <br />
UserName = @ViewBag.UserName  <br />
First Name = @ViewBag.FirstName <br />
Last Name = @ViewBag.LastName <br />
Address = @ViewBag.Address  <br />
City = @ViewBag.City  <br />
State = @ViewBag.State  <br />
Postal Code = @ViewBag.PostalCode  <br />
Country = @ViewBag.Country  <br />
Phone = @ViewBag.Phone  <br />
Email = @ViewBag.Email  <br />
Total = @ViewBag.Total  <br />

@ViewBag.Sql <br />

