
@{
    ViewBag.Title = "UpdatedInfo";
}

<h2>UpdatedInfo</h2>

The Information that was updated was: <br /> <br />

Album Id = @ViewBag.AlbumId <br />
Genre Id = @ViewBag.GenreId <br />
Artist Id = @ViewBag.ArtistId <br />
Title = @ViewBag.Title <br />
Price = @ViewBag.Price <br />
Album Art URL = @ViewBag.AlbumArtUrl <br />
